USE [HIS_CORTES]
GO
/****** Object:  StoredProcedure [dbo].[SP_T22]    Script Date: 23/07/2025 01:45:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*SP T22*/
CREATE PROCEDURE [dbo].[SP_T22] @FECHA_INICIO AS DATETIME = NULL, @FECHA_FINAL AS DATETIME = NULL
AS
SELECT
	*,
	CASE
		WHEN CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103) AND VV.NUEVO_nVeces_repetido <> 1
			THEN ROW_NUMBER() OVER (PARTITION BY CAST(VV.FECHA_DEL_ESTUDIO AS DATE), SUBSTRING(CONCAT(VV.NSS, VV.AGREGADO_MEDICO),1,12), CASE 
																																			WHEN CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103)
																																				THEN 1 
																																			END 
									ORDER BY (VV.CONSECUTIVO)) 
	END AS REPETIDOS_INTERPRETACION,
	/*FLAGGEANDO PLACAS SIMPLES REPETIDAS*/
	CASE 
		WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' AND VV.NUEVO_nVeces_repetido <> 1 
			THEN ROW_NUMBER() OVER(PARTITION BY CAST(VV.FECHA_DEL_ESTUDIO AS DATE), SUBSTRING(CONCAT(VV.NSS,VV.AGREGADO_MEDICO),1,12), CASE 
																																			WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' 
																																				THEN 1 
																																	   END 
									ORDER BY VV.CONSECUTIVO) 
	END AS DX_REPETIDOS,
	/*FLAGGEANDO PROMOCION*/
	CASE 
		WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' OR CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103) AND VV.NUEVO_nVeces_repetido <> 1
			THEN ROW_NUMBER() OVER(PARTITION BY CAST(VV.FECHA_DEL_ESTUDIO AS DATE),SUBSTRING(CONCAT(VV.NSS,VV.AGREGADO_MEDICO),1,12), CASE 
																																		WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' OR CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103) 
																																			THEN 1 
																																		END 
									ORDER BY (CASE 
												WHEN VV.MODALIDAD IN('CT','MR','US','RF','MG','NM','XA','DBUS','BMD') 
													THEN 1 
												WHEN VV.MODALIDAD IN ('CR','DX') 
													THEN 2 
											  END)) 
	END AS PROMOCION_1
FROM
(SELECT 
CASE WHEN UU.APELLIDO_PREVIO=UU.ApellidoPaterno
		THEN ROW_NUMBER() OVER(PARTITION BY SUBSTRING(CONCAT(NSS,AGREGADO_MEDICO),1,12) ORDER BY CONSECUTIVO)
	ELSE 1
END AS NUEVO_nVeces_repetido,
*
FROM
(SELECT
	CONSECUTIVO,
	NvecesRepetido,
	FECHA_DEL_ESTUDIO,
	UNIDAD_TRATANTE,
	ApellidoPaterno,
	ApellidoMaterno,
	NOMBRE_DEL_PACIENTE,
	NSS,
	CLAVE_CPIM,
	AGREGADO_MEDICO,
	TIPO_DE_ESTUDIO,
	MODALIDAD,
	INTERPRETACION,
	--ROW_NUMBER() OVER(PARTITION BY NSS, CAST(FECHA_DEL_ESTUDIO AS DATE) ORDER BY  FECHA_DEL_ESTUDIO) AS PACIENTE_nVECES_REPETIDOS
	LAG(ApellidoPaterno) OVER(ORDER BY CONSECUTIVO) AS APELLIDO_PREVIO
FROM
	dbo.CORTE_SEMANAL2) AS UU) AS VV
WHERE 
	VV.FECHA_DEL_ESTUDIO BETWEEN  @FECHA_INICIO AND @FECHA_FINAL


GO
