USE [HIS_CORTES]
GO
/****** Object:  StoredProcedure [dbo].[SP_T10]    Script Date: 23/07/2025 01:46:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*SP T10*/
CREATE PROCEDURE [dbo].[SP_T10] @FECHA_INICIO AS DATETIME = NULL, @FECHA_FINAL AS DATETIME = NULL
AS
WITH CTE_T10 AS (
	SELECT *,
	CASE
		WHEN REPETIDOS_INTERPRETACION > 1
			THEN  'NO CONTAR'
		ELSE  'CONTAR '
	END AS CONTAR_INTERPRETADOS,
	CASE
		WHEN DX_REPETIDOS > 1
			THEN  'NO CONTAR'
		ELSE  'CONTAR '
	END AS CONTAR_SIMPLES,
	CASE
		WHEN PROMOCION_1 > 1
			THEN  'NO CONTAR'
		ELSE  'CONTAR'
	END AS CONTAR_PROMOCION
	FROM
	( 
	SELECT
		*,
		CASE
			WHEN CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103) AND VV.NUEVO_nVeces_repetido <> 1
				THEN ROW_NUMBER() OVER (PARTITION BY CAST(VV.FECHA_DEL_ESTUDIO AS DATE), SUBSTRING(CONCAT(VV.NSS, VV.AGREGADO_MEDICO),1,12), CASE 
																																				WHEN CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103)
																																					THEN 1 
																																				END 
										ORDER BY (VV.CONSECUTIVO)) 
		END AS REPETIDOS_INTERPRETACION,
		/*FLAGGEANDO PLACAS SIMPLES REPETIDAS*/
		CASE 
			WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' AND VV.NUEVO_nVeces_repetido <> 1 
				THEN ROW_NUMBER() OVER(PARTITION BY CAST(VV.FECHA_DEL_ESTUDIO AS DATE), SUBSTRING(CONCAT(VV.NSS,VV.AGREGADO_MEDICO),1,12), CASE 
																																				WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' 
																																					THEN 1 
																																		   END 
										ORDER BY VV.CONSECUTIVO) 
		END AS DX_REPETIDOS,
		/*FLAGGEANDO PROMOCION*/
		CASE 
			WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' OR CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103) AND VV.NUEVO_nVeces_repetido <> 1
				THEN ROW_NUMBER() OVER(PARTITION BY CAST(VV.FECHA_DEL_ESTUDIO AS DATE),SUBSTRING(CONCAT(VV.NSS,VV.AGREGADO_MEDICO),1,12), CASE 
																																			WHEN VV.TIPO_DE_ESTUDIO ='Radiología Simple' OR CONVERT(VARCHAR,VV.INTERPRETACION,103) = CONVERT(VARCHAR,VV.FECHA_DEL_ESTUDIO,103) 
																																				THEN 1 
																																			END 
										ORDER BY (CASE 
													WHEN VV.MODALIDAD IN('CT','MR','US','RF','MG','NM','XA','DBUS','BMD') 
														THEN 1 
													WHEN VV.MODALIDAD IN ('CR','DX') 
														THEN 2 
												  END)) 
		END AS PROMOCION_1
	FROM
(SELECT 
CASE WHEN UU.APELLIDO_PREVIO=UU.ApellidoPaterno
		THEN ROW_NUMBER() OVER(PARTITION BY SUBSTRING(CONCAT(NSS,AGREGADO_MEDICO),1,12) ORDER BY CONSECUTIVO)
	ELSE 1
END AS NUEVO_nVeces_repetido,
*
FROM
(SELECT
	*,
LAG(ApellidoPaterno) OVER(ORDER BY CONSECUTIVO) AS APELLIDO_PREVIO
FROM
	[HIS_CORTES].[dbo].[CORTE_SEMANAL2]) AS UU) AS VV
WHERE FECHA_DEL_ESTUDIO BETWEEN @FECHA_INICIO AND @FECHA_FINAL

	) AS T
)
SELECT 
	*,
	FORMAT(R.CANTIDAD * 40.26, 'C') AS IMPORTE
FROM
	(
		SELECT
			CLAVE_CPIM,
			TIPO_DE_ESTUDIO AS DESCRIPCION,
			COUNT(TIPO_DE_ESTUDIO) AS CANTIDAD,
			'$40.26' AS PRECIO_UNITARIO
		FROM
			CTE_T10
		WHERE
			CTE_T10.CONTAR_INTERPRETADOS= 'CONTAR' AND CTE_T10.CONTAR_SIMPLES= 'CONTAR' AND CTE_T10.CONTAR_PROMOCION= 'CONTAR'
		GROUP BY
			CLAVE_CPIM,
			TIPO_DE_ESTUDIO
		HAVING
			COUNT(TIPO_DE_ESTUDIO) >=1
	) AS R
ORDER BY
	R.CLAVE_CPIM
GO
