USE [HIS_CORTES]
GO
/****** Object:  StoredProcedure [dbo].[EliminarPacientesPruebaSemanal]    Script Date: 23/07/2025 01:43:11 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarPacientesPruebaSemanal]
AS
WITH CTE_PACIENTES_PRUEBAS AS (
SELECT * FROM
			(
				SELECT
					C.NSS,
					C.MODALIDAD AS MODALIDAD,
					CONCAT(C.ApellidoPaterno,' ',C.ApellidoMaterno,' ',C.NOMBRE_DEL_PACIENTE,' ') AS PACIENTE_PRUEBA
				FROM 
					dbo.CORTE_MES_SEMANAL AS C
			) AS T
)
DELETE FROM CTE_PACIENTES_PRUEBAS WHERE 
CTE_PACIENTES_PRUEBAS.PACIENTE_PRUEBA LIKE '%PRUEBA%' 
OR CTE_PACIENTES_PRUEBAS.PACIENTE_PRUEBA LIKE '%TEST%' 
OR CTE_PACIENTES_PRUEBAS.NSS LIKE '%PRUEBA%' 
OR CTE_PACIENTES_PRUEBAS.NSS LIKE '%TEST%' 
OR CTE_PACIENTES_PRUEBAS.PACIENTE_PRUEBA=' '
OR CTE_PACIENTES_PRUEBAS.MODALIDAD='MR';
GO
